
.sub-menu {
position: fixed;
background-color: red;
top: 60px;
width:100%;
display: flex;
}

.menu-list {
}

.menu-item {

}

.menu-item {

}

.menu-item {

}

.menu-item {

}

.menu-list {

}

.menu-item {

}

.menu-item {

}

.menu-item {

}

.menu-item {

}

.menu-list {

}

.menu-item {

}

.menu-item {

}

.menu-item {

}

.menu-item {

}
